:host{
  display: block;
}
.main_container{
  width: 40vw;
  height: fit-content;
 
  // justify-content: center;

  @media (min-width: 768px) {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
  }
  
}