<header class="header">
  <nav class="header__nav">
    <ul class="nav row">
      <li class="nav-item col">
        <a class="nav-link ps-0" routerLink="/home" routerLinkActive="active">All Movies</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link text-nowrap" style="cursor: pointer;" routerLinkActive="active">For Kides</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link text-nowrap" routerLink="/branches" routerLinkActive="active">Selecte Branch</a>
      </li>
    </ul>
  </nav>

</header>