<div class="home_container">
  <div class="header-comming-soon p-2">
    <app-header/>
    <h4 class="mt-3">Coming Soon</h4>
    <div class="img-container overflow-hidden rounded-3">
      <img src="assets/images/Featured-Card.png" alt="coming-soon" />
    </div>

  </div>
  <ul class="list-unstyled categories d-flex overflow-auto">
  <li>
    <button class="btn py-1 active text-white">Action</button>
  </li>
  <li>
    <button class="btn py-1 text-white">Comedy</button>
  </li>
  <li>
    <button class="btn py-1 text-white">Romance</button>
  </li>
  <li>
    <button class="btn py-1 text-white">Thriller</button>
  </li>
  <li>
    <button class="btn py-1 text-white">Documentary</button>
  </li>
  </ul>


</div>
