<div class="home_container pb-3">
  <div class="home-content">

    <div class="header-comming-soon p-2">
      <app-header/>
      <h4 class="mt-3">Coming Soon</h4>
      <div class="img-container overflow-hidden rounded-3" *ngIf="commingSoonImage()">
        <img [src]="commingSoonImage()" alt="coming-soon" />
      </div>
      
    </div>
  
    <ul class=" p-2 list-unstyled my-2 categories d-flex overflow-auto gap-2">
      <ng-container *ngIf="moviesCategories()">

        <li *ngFor="let category of moviesCategories()" class="d-flex align-items-center" (click)="activeCategory.set(category)">
          <button class="btn py-1 text-nowrap {{activeCategory().CategoryID === category.CategoryID && 'active'}} text-white">{{category?.CategoryName}}</button>
        </li>
      </ng-container>
      </ul>
    <h2 class="w-100 p-2 mb-2">Now Showing</h2>
  </div>
  <app-movies [movies]="activeCategory()?.Films"/>


</div>
