:host {
  display: block;
  max-width: 100%;
}
swiper-slide{
  transform: scale(0.7);
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  height: 440px;
  @media (max-width: 768px) {
    width: 178px !important;
    height: 300px !important;
  }
  &.swiper-slide-active{
    transform: scale(1.1);
    width: 100%;
  }
  img{
    // width: 95%;
    height: 100%;
    width: 100%;
  }
}
